APP_PORT=8091

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=navi_db
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/navi_db

APP_NAME=Navi Vehiculos API
API_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:8091
FRONTEND_UPSTREAM=http://frontend:5173
VITE_API_URL=

GEOTAB_USERNAME=
GEOTAB_PASSWORD=
GEOTAB_DATABASE=

INVENTORY_DB_SERVER=
INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=
INVENTORY_DB_NAME=
INVENTORY_DB_PORT=1433

QUICKSERVE_USERNAME=
QUICKSERVE_PASSWORD=
QUICKSERVE_APP_ID=
QUICKSERVE_SF_BASE=https://mylogin.cummins.com
QUICKSERVE_BASE_URL=https://quickserve.cummins.com
