# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/

# Node
node_modules/
dist/

# Docker volumes/local data
postgres_data/